<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
       
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Age</th>
            <th scope="col">City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of datas">
       
            <td>{{data.fname}}</td>
            <td>{{data.lname}}</td>
            <td>{{data.age}}</td>
            <td>{{data.city}}</td>
          </tr>
        
        </tbody>
      </table>
      
    </div>
  
  </div>
  
  </div>